body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#display {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}
